* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(135deg,  rgb(220, 207, 177), rgb(179, 138, 86),rgb(107, 63, 13), rgb(49, 23, 0));
  background-size: 500%;
  height: 460vh;
  animation: animacion 10s infinite;
}
@keyframes animacion{
  0%{
      background-position: 0% 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}
/*-------------------------------------*/

.navbar {

  text-align: center;
}

.separator {
  height: 20px; /* Altura del separador */
}

.content {
  background-color: #f0f0f0;
  padding: 20px;
}

*/hasat punto INICIO HEADER*/
header{
  padding: 50px;
  text-align: center;
}
.navbar{
  background-color: #fff;
  height: 80px;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
  padding: 1px;
}
.navbar-brand {
  font-weight: 500;
  color: #009970;
  font-size: 24px;
  transition: 0.3s color;
}

.login-button{
  background-color: #009970;
  color: #fff;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}
.login-button:hover{
  background-color: #00b383;
}
#space{
  padding: 0px 0px 0px 0px;
}

.navbar-toggler{
  border:none;
  font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
  box-shadow: none;
  outline: none;
}
.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
}
.nav-link:hover, .nav-link.active {
  color: rgb(0, 0, 0);
}
@media (min-width: 991px) {
.nav-link::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #009970;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.nav-link:hover::before{
  width: 100%;
  visibility: visible;
}
}
.lobster-regular {
  color: #009970;
  font-family: "Lobster", sans-serif;
  font-style: normal;
  font-size: 1.7rem; /*importante revisar el tamaño responsivo*/
}
.lobster-regular:hover {
  color: #053629;
}
/*_------------------*/
.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding-top: 110px; /* Añadir espacio superior para los navbars fijos */
}




.item {
  border-radius: 15px; 
  color: white;
  
  text-align: center;
}

.item1 { grid-column: 1 / -1; }
.item2 { grid-column: span 1; }
.item3 { grid-column: span 1; }
.item4 { grid-column: span 1; }
.item5 { grid-column: span 1; }
.item6 { grid-column: span 2; }
.item7 { grid-column: span 2; }
.item8 { grid-column: span 2; }
.item9 { grid-column: span 2; }
.item10 { grid-column: span 3; }
.item11 { grid-column: span 1; }

@media (max-width: 768px) {
  .container {
      grid-template-columns: repeat(2, 1fr);
  }

  .item1 { grid-column: 1 / -1; }
  .item6, .item7, .item8, .item9, .item10, .item11 {
      grid-column: 1 / -1;
  }

  .nav-secondary {
      flex-direction: column;
      top: 50px; /* Ajustar la posición en pantallas medianas */
  }

  .nav-secondary a {
      padding: 15px;
  }
}

@media (max-width: 480px) {
  .container {
      grid-template-columns: 1fr;
  }

  .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11 {
      grid-column: 1 / -1;
  }
}

/*-------esrilos de ------------*/
#imgP{
  padding: 0;
  width: 100%;
  height: 80vh;
}
#text1{
  font-family: "Lobster", sans-serif;
  padding-top: 100px;
  color: rgb(71, 51, 51);
}
#text2{
  font-family: "Lobster", sans-serif;
  color: rgb(71, 51, 51);
}
/*----------------------------*/
#imgT{
  width: 100%;
  height: 100%;
}
#imgT1{
width: 100%;
height: 204px;
}
.card{
  width: 100%;
  margin: 0;
  padding: 0%;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);
}
#imgT2{
  border-radius: 15px;
width: 100%;
height: 394px;
}
.p{
  padding: 15px;
}
/*---------------footer--------------------*/
footer {
  background-color: rgb(49, 23, 0);
  color: rgb(219, 205, 176);
  padding: 20px 0;
  text-align: center;
  border-radius: 15px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h3 {
  margin-top: 0;
  border-bottom: 2px solid rgb(179, 138, 86);
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.footer-section p, .footer-section ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: none;
  color: rgb(179, 138, 86);
  font-weight: bold;
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
}

.social-media img {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }
}





